{% extends "base.html" %}
{% load staticfiles %}

{% load crispy_forms_tags %}
{#{% load thumbnail %}#}

{% block title %}Event List{% endblock %}


{% block styles %}

{% endblock %}

{% block extrahead %}

<link rel="stylesheet" href="{% static "css/main_event.css" %}"/>
<link rel="stylesheet" href="{% static "css/bootstrap/bootstrap.css" %}">
<link rel="stylesheet" href="{% static "css/event_form.css" %}">
<link rel="stylesheet" href="{% static "css/button.css" %}">

{% endblock %}


{% block navbar-left %}
<li {% if active_link == "home" %}class="active"{% endif %}><a href="{% url 'home' %}">Home</a></li>
<li {% if active_link == "about" %}class="active"{% endif %}><a href="{% url 'about' %}">About</a></li>

 {# I Edited It #}
<li {% if active_link == 'forumapp:question_list' %}class="active"{% endif %}><a href="{% url 'forumapp:question_list' %}">Forum</a></li>
<li {% if active_link == 'assignment:assignment_list' %}class="active"{% endif %}><a href="{% url 'assignment:assignment_list' %}">Assignment</a></li>
<li {% if active_link == 'assignment:slide_list' %}class="active"{% endif %}><a href="{% url 'assignment:slide_list' %}">Slides</a></li>

<li {% if active_link == 'profiles:all_user' %}class="active"{% endif %}><a href="{% url 'profiles:all_user' %}">Developer</a></li>
<li {% if active_link == 'profiles:all_user_tab' %}class="active"{% endif %}><a href="{% url 'profiles:all_user_tab' %}">All User</a></li>

{% endblock %}


{% block container %}
    <br><br><br><br>
<center><a  href="{% url "event:event_new" %}"><button class="btn btn-outline-info" style="font-size: larger">Add Event</button></a></center>

<div class="container">
    {% for event in event_list %}
{#        <h1>{{ event.event_name }}{{ event.event_time }}{{ event.event_date }}{{ event.event_added_on }}{{ event.event_by }}</h1>#}
<div class="col-sm-6">
    <br>
        <div class="card text-white bg-success mb-3" style="max-width: 50rem;">
  <div class="card-header " style="font-weight: bold">
      <div class="col-sm-6 text-left">
      <strong style="color: black">Event Name : </strong> {{ event.event_name.capitalize }}
      </div>
      <div class="col-sm-6 text-right">
          <a href="{% url "event:event_remove" pk=event.pk %}"><button class="btn-outline-danger" style="font-family: Laksaman">Delete</button></a>
      </div>
  </div>

  <div class="card-body">
    <h4 class="card-title">Event Details: </h4>
    <ul><li>
        <p class="card-text">Date : {{ event.event_date }}</p>
        </li>
        <li>
        <p class="card-text"> Time : {{ event.event_time }}</p>
        </li>
        {% if event.event_details %}
        <li>
        <p class="card-text" style="font-weight: bold;color: black;font-size: medium"> Other Info : {{ event.event_details }}</p>
        </li>
        {% endif %}
    </ul>

  </div>


            <div class="card-footer text-left">
                <div class="col-sm-6 text-left" style="font-weight: bold">
                   <strong style="color: black;">On : </strong> {{ event.event_added_on|date }}
                </div>
                <div class="col-sm-6 text-right" style="font-weight: bold">
                     <strong style="color: black">By : </strong>{{ event.event_by.name }}
                </div>

            </div>
</div>
</div>
    {% endfor %}
</div>
{% endblock container %}

{% block scripts %}
{#<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>#}
{#<script src="https://cdn.jsdelivr.net/momentjs/2.14.1/moment.min.js"></script>#}
{#<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>#}
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>#}
    <script href="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
    <script href="{% static "css/bootstrap/bootstrap.js" %}"></script>
{% endblock %}