{% extends "base.html" %}
{% load staticfiles %}

{% load crispy_forms_tags %}
{#{% load thumbnail %}#}

{% block title %}Create Event{% endblock %}

<!-- extra styles-->


{#{% block extrahead %}#}
{##}
{##}
{#<link rel="stylesheet" href="{% static "css/main_event.css" %}"/>#}
{#<link rel="stylesheet" href="{% static "css/bootstrap/bootstrap.css" %}">#}
{#<link rel="stylesheet" href="{% static "css/event_form.css" %}">#}
{#<link rel="stylesheet" href="{% static "css/button.css" %}">#}
{##}
{##}
{#{% endblock %}#}



{% block navbar-left %}
<li {% if active_link == "home" %}class="active"{% endif %}><a href="{% url 'home' %}">Home</a></li>
<li {% if active_link == "about" %}class="active"{% endif %}><a href="{% url 'about' %}">About</a></li>

 {# I Edited It #}
<li {% if active_link == 'forumapp:question_list' %}class="active"{% endif %}><a href="{% url 'forumapp:question_list' %}">Forum</a></li>
<li {% if active_link == 'assignment:assignment_list' %}class="active"{% endif %}><a href="{% url 'assignment:assignment_list' %}">Assignment</a></li>
<li {% if active_link == 'assignment:slide_list' %}class="active"{% endif %}><a href="{% url 'assignment:slide_list' %}">Slides</a></li>

<li {% if active_link == 'profiles:all_user' %}class="active"{% endif %}><a href="{% url 'profiles:all_user' %}">Developer</a></li>
<li {% if active_link == 'profiles:all_user_tab' %}class="active"{% endif %}><a href="{% url 'profiles:all_user_tab' %}">All User</a></li>

{% endblock %}


{% block container %}
    <br><br><br><br>


<div class="container">
<div class="col-md-6">
<form method="post" role="form">
{% csrf_token %}
{{ form|crispy }}
      <div class="form-group">
          <button type="submit" class="btn btn-primary">Create Event</button>
          </div>
</form>
</div>
</div>

{% endblock container %}


{##}
{#{% block scripts %}#}
{#<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>#}
{#<script src="https://cdn.jsdelivr.net/momentjs/2.14.1/moment.min.js"></script>#}
{#<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>#}
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>#}
{#{% endblock %}#}