{% extends "base.html" %}
{% load staticfiles %}

{% load crispy_forms_tags %}
{#{% load thumbnail %}#}

{% block title %}Event List{% endblock %}

{#{% block extrahead %}#}
{##}
{#<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css">#}
{#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">#}
{#    <link rel="stylesheet" href="{% static "css/event_form.css" %}">#}
{#{% endblock %}#}


{% block navbar-left %}
<li {% if active_link == "home" %}class="active"{% endif %}><a href="{% url 'home' %}">Home</a></li>
<li {% if active_link == "about" %}class="active"{% endif %}><a href="{% url 'about' %}">About</a></li>

 {# I Edited It #}
<li {% if active_link == 'forumapp:question_list' %}class="active"{% endif %}><a href="{% url 'forumapp:question_list' %}">Forum</a></li>
<li {% if active_link == 'assignment:assignment_list' %}class="active"{% endif %}><a href="{% url 'assignment:assignment_list' %}">Assignment</a></li>
<li {% if active_link == 'assignment:slide_list' %}class="active"{% endif %}><a href="{% url 'assignment:slide_list' %}">Slides</a></li>

<li {% if active_link == 'profiles:all_user' %}class="active"{% endif %}><a href="{% url 'profiles:all_user' %}">Developer</a></li>
<li {% if active_link == 'profiles:all_user_tab' %}class="active"{% endif %}><a href="{% url 'profiles:all_user_tab' %}">All User</a></li>

{% endblock %}


{% block container %}
    <br><br><br><br>

    {% for event in event_list %}
        <h1>{{ event.event_name }}</h1>
    {% endfor %}


{% endblock container %}