{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load thumbnail %}


{% block navbar %}

{% endblock %}

{% block container %}
{#    <h1>New comment</h1>#}
    <div class="container">
    <form method="POST">
    {% csrf_token %}
    {{form|crispy}}
    <button type="submit" class="save btn btn-success">Post Comment</button>
    </form>
</div>
{#    <script>var editor = new MediumEditor('.editable');</script>#}

{% endblock container %}

{% block footer %}

{% endblock %}