{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load thumbnail %}


{% block navbar %}

{% endblock %}

{% block container %}
{#    <h1>New comment</h1>#}

    <div class="container col-sm-12" style="padding-left: 0%">
    <form method="POST">
    {% csrf_token %}
    {{form|crispy}}

        <!-- to reload the parent window .i.e. the question_detail-->
    <button onclick="window.parent.location.reload()" type="submit" class="save btn btn-success col-md-10">Post Comment</button>

    </form>
</div>
{#    <script>var editor = new MediumEditor('.editable');</script>#}

{% endblock container %}

{% block footer %}

{% endblock %}