{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load thumbnail %}


{% block navbar %}

{% endblock %}

{% block extrahead %}
    <style>
    body{
        background-image: url('https://cdn.pixabay.com/photo/2017/07/29/13/17/ahead-2551465_960_720.jpg');background-attachment: fixed;background-size: 100%;
    }
    .btn:hover
{
opacity: 1 !important;
}
    </style>
{% endblock %}

{% block container %}
{#    <div style="border: 3px ridge;border-color: black;background-image: url('https://cdn.pixabay.com/photo/2017/07/29/13/17/ahead-2551465_960_720.jpg');background-attachment: fixed;background-size: 100%;">#}
{#    <h1>New comment</h1>#}
<strong>
    <div class="container col-sm-offset-3 col-sm-6" style="color: black;">
    <form method="POST">
    {% csrf_token %}
    {{form|crispy}}

        <!-- to reload the parent window .i.e. the question_detail-->
    <button onclick="window.parent.location.reload()" type="submit" class="save btn btn-success col-md-10">Post Comment</button>

    </form>
</div>
    </strong>
{#    <script>var editor = new MediumEditor('.editable');</script>#}
{#</div>#}
{% endblock container %}

{% block footer %}

{% endblock %}