{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

   <!-- To Remove Navbar Just Add The template tag blank in the inherited html-->
{% block navbar %}
{% endblock %}

{% block container %}

{% block form %}
    <div class="container form-box">
<center>

    <article>
        <h1>New post</h1>
    <form method="POST" class="post-form">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="save btn btn-default">Save</button>
    </form>
        </article>

</center>
    </div>
{% endblock %}

    <!-- To Remove Footer Just Add The template tag blank in the inherited html-->
    {% block footer %}
    {% endblock %}
{% endblock %}