{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load thumbnail %}

{% block title %}Forum: Detail{% endblock %}


    {% block extrahead %}
{#    <meta http-equiv="refresh" content="1"/>#}
        <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
        <link rel="stylesheet" href="{% static "css/forum_base.css" %}">
{% endblock %}


{% block navbar-left %}

    <li {% if active_link == "home" %}class="active"{% endif %}><a href="{% url 'home' %}">Home</a></li>
<li {% if active_link == "about" %}class="active"{% endif %}><a href="{% url 'about' %}">About</a></li>

{# I Edited It #}
<li {% if active_link == "Forum" %}class="active"{% endif %}><a href="{% url 'forumapp:question_list' %}">Forum</a></li>
<li {% if active_link == "Assignment" %}class="active"{% endif %}><a href="{% url 'assignment:assignment_list' %}">Assignment</a></li>
<li {% if active_link == "Developer" %}class="active"{% endif %}><a href="{% url 'profiles:all_user' %}">Developer</a></li>

{% endblock %}


{% block container %}
    <div style="background-image: url('https://modytt.files.wordpress.com/2011/08/blog-background.jpg');background-attachment: fixed;">


<br><br><br><br>
<div class="container profile-body">
  <div class="row">
    <div class="col-sm-11">

            <div class="jumbotron col-sm-12 container" style="border: 10px ridge;border-color: black;background-image: linear-gradient(black,white)">
{#Question #}

            <!-- Profile Image -->

   <div class="row" style="margin-left: -50px;margin-top: 0px">
      <div class="row2">
          <!-- Taking User To The profile page of the author of the post-->
       <div class="col-md-10">
        <a href="{% url "profiles:show" slug=question.author.profile.slug %}"><div class="col-md-2"> <img title="View Profile" class="img-circle img-responsive" src="{% thumbnail question.author.profile.picture|default:'default_profile.png' 60x60 crop %}">
               </div>
               </a>

                <p>
                <strong><a title="Author Name" style="color: green;" href="{% url "profiles:show" slug=question.author.profile.slug %}">{{ question.author.name.capitalize }}</a></strong><br>

                <a title="Author Email" style="color: black;font-size: medium" href="{% url "profiles:show" slug=question.author.profile.slug %}">{{ question.author.email.capitalize }}</a></p>
</div>
          <!-- Added Delete And Edit Functionality to the Questions-->
          {% if question.author.profile.user == user %}
          <a title="Edit Question ?" class="btn btn-success" href="{% url 'forumapp:question_edit' pk=question.pk %}">Edit?</a>
          <a title="Delete Question" class="btn btn-danger" href="{% url 'forumapp:question_remove' pk=question.pk %}">Delete?</a>
{% endif %}


      </div>
  </div>
{#            <a href="{% url 'forumapp:question_detail' pk=question.pk %}"><p><h2>{{ question.title }}</h2></a></p>#}

{# having the read more button#}

        <div class="container">
<p class="lead" style="color: black">{{ question.content }}</p>
</div>
{#            <h3 style="color: black">{{ question.content }}</h3>#}
{#  <p class="read-more"><a title="Answer Question" href="{% url "forumapp:question_detail" pk=question.pk %}" class="btn btn-block" style="border-bottom-left-radius: 20%;border-bottom: ridge;border-bottom-right-radius: 20%;">Answer ?</a></p>#}

    <hr class="jumbotron-fluid" style="border-color: black;border-width: 2px">
            <div class="date" style="text-align: end;">
                <strong style="color: red">Published on </strong> :  {{ question.timestamp|date }}  -
                {{ question.timestamp|timesince}} ago - {{ question.timestamp|time}}
                <!--Name--><br>
              <strong style="color: green">  By :  {{ question.author.name.capitalize }}</strong><br>
                <strong style="color: darkgreen">  Topic :  {{ question.title.capitalize }}</strong>
            </div>

{#            <a href="{% url 'question_detail' pk=post.pk %}">Comments: {{ post.approve_comments.count }}</a>#}
        </div>



</div></div>




{#      <h1>{{ question.title }}</h1>#}

{#        {% if question.timestamp %}#}

{#<div class="container profile-body">#}
{#  <div class="row">#}
{#             <div class="col-sm-12">#}
{#            <div class="jumbotron">#}
{#                    <a href="{% url "profiles:show" slug=question.author.profile.slug %}"><div class="col-md-1"> <img title="profile picture" class="img-circle img-responsive" src="{% thumbnail question.author.profile.picture|default:'default_profile.png' 60x60 crop %}">#}
{#               </div>#}
{#               </a>#}
{##}
{#            <p>{{ question.author.name }}</p>#}
{##}
{#        <p>{{ question.content|safe|linebreaksbr }}</p>#}
{##}
{#                {{ question.timestamp }}#}
{#        {% endif %}#}
{#</div></div>#}
{##}
{#</div>#}

    <div class="row">
        <div class="col-sm-11">


            <div class="jumbotron" style="height: 300px;border: ridge;border-color: black;border-width: 5px;">

            <iframe class="col-sm-12" src="{% url "forumapp:add_comment_to_question" pk=question.pk %}" style="border: transparent;"></iframe>

            </div>
        </div>
    </div>

<!--___________________________________________________________________________-->
<!--___________________________________________________________________________-->



    <div type="row">
        <div class="col-sm-11">

        {% for comments in question.comments.all %}
{#        <div class="jumbotron" style="border: ridge;border-color: black;border-width: 5px;">#}
        <div class="jumbotron col-sm-12 container" style="border: 10px ridge;border-color: black;background-image: linear-gradient(black,white)">


<a href="{% url "profiles:show" slug=comments.author_comment.profile.slug %}"><div class="col-md-1"> <img title="View Profile" class="img-circle img-responsive" src="{% thumbnail comments.author_comment.profile.picture|default:'default_profile.png' 60x60 crop %}"></div></a>
            <strong style="color: darkgreen"><a title="Author Name" href="{% url "profiles:show" slug=comments.author_comment.profile.slug %}">{{ comments.author_comment.name.capitalize }}</a></strong>

            {% if comments.author_comment.profile.user == user %}
          <a title="Delete Question" class="btn btn-danger" style="float: right" href="{% url 'forumapp:comment_remove' pk=comments.pk %}">Delete?</a>
{% endif %}


    <br>
    <h5 style="color: black">
         <a title="Author Email" style="color: black;font-size: medium" href="{% url "profiles:show" slug=comments.author_comment.profile.slug %}">
             {{ comments.author_comment.email.capitalize }}</a>
        </h5><br>
                        <h3 class="container" style="color: black">{{ comments.content }}</h3>

        <hr class="jumbotron-fluid" style="border-color: black;border-width: 2px">
            <div class="date" style="text-align: end;">
                <strong style="color: red">Commented on </strong> :  {{ comments.timestamp_comment|date }}  -
                {{ comments.timestamp_comment|timesince}} ago - {{ comments.timestamp_comment|time }}
                <!--Name--><br>
{#              <strong style="color: green">  By :  {{ comments.author_comment.name.capitalize }}</strong><br>#}
                <strong style="color: darkgreen">  Question :  {{ comments.question.title }}</strong>
            </div>

</div>
{% endfor %}


        </div>
    </div>
{#</div>#}



</div>





{#          {% if user.is_authenticated %} #}
{#          <a class="btn btn-primary" href="{% url 'question_edit' pk=question.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>    #}
{#          <a class="btn btn-primary" href="{% url 'question_remove' pk=question.pk %}"><span class="glyphicon glyphicon-remove"></span></a>  #}
{#      {% endif %}#}

{#      <hr>#}
{#  <a class="btn btn-primary btn-comment" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a>#}
{#  <div class="container">#}
    </div>
{% endblock container %}