{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load thumbnail %}


{% block title %}{{ block.super }}Forum{% endblock %}

    {% block extrahead %}
{#    <meta http-equiv="refresh" content="1"/>#}
        <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
        <link rel="stylesheet" href="{% static "css/forum_base.css" %}">

        <style>
        .navbar{
            border-color: black;

        }
        </style>
{% endblock %}


{% block navbar-left %}

<li {% if active_link == "home" %}class="active"{% endif %}><a href="{% url 'home' %}">Home</a></li>
<li {% if active_link == "about" %}class="active"{% endif %}><a href="{% url 'about' %}">About</a></li>

 {# I Edited It #}
<li {% if active_link == 'forumapp:question_list' %}class="active"{% endif %}><a href="{% url 'forumapp:question_list' %}">Forum</a></li>
<li {% if active_link == 'assignment:assignment_list' %}class="active"{% endif %}><a href="{% url 'assignment:assignment_list' %}">Assignment</a></li>
<li {% if active_link == 'assignment:slide_list' %}class="active"{% endif %}><a href="{% url 'assignment:slide_list' %}">Slides</a></li>

<li {% if active_link == 'profiles:all_user' %}class="active"{% endif %}><a href="{% url 'profiles:all_user' %}">Developer</a></li>
<li {% if active_link == 'profiles:all_user_tab' %}class="active"{% endif %}><a href="{% url 'profiles:all_user_tab' %}">All User</a></li>

{% endblock %}


{% block container %}
<div style="background-image: url('https://modytt.files.wordpress.com/2011/08/blog-background.jpg');background-attachment: fixed;">
{#The Cover Type On the Top has the form#}

<br><br><br>

    <!-- For the click and open a collapsing bar effect-->
<center>
{#<div class="btn-group">#}
{#  <button style="width: 100%" type="button" class="btn btn-danger">Have A Question ?? </button>#}
  <button style="width: 600px;margin-left: -25px;border-bottom-left-radius: 25px;border-bottom-right-radius: 25px;border-bottom-width: 8px;background-color: black;color: white;border-bottom-color: white" type="button" class="btn btn-black" data-toggle="collapse" data-target="#demo">
   Have A Question ??  <span class="glyphicon glyphicon-arrow-down"></span>
  </button>
{#</div>#}
</center>



<!--_____________________________________________________________________________________________-->

<div id="demo" class="collapse">    <!-- For the click and open a collapsing bar effect-->
<!-- Form -->
<div class="container">
  <div class="row">
    <div class="col-sm-10">
        <!-- Functionality added in Iframe -->
        <center><iframe onsubmit="window.location.reload()" src="{% url "forumapp:question_new" %}" style="border:10px solid black;text-align: center;" width="1045" height="550" ></iframe></center>
    </div>
  </div>
</div>
</div>      <!-- End of div  :       For the click and opening : a collapsing bar effect-->

<!--_____________________________________________________________________________________________-->


{#</div>#}

<hr style="border-color: black;border-width: 10px" class="col-md-11.5">

<!--paginator-->


    {% if is_paginated %}

        <nav aria-label="pagination" >
        <div class="container">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a style="font-size: larger" class="btn btn-primary col-sm-3" href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                <h1 style="color:white;text-align: center" class="col-sm-6">    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</h1>
                </span>
                {% if page_obj.has_next %}
                    <a style="font-size: larger" class="btn btn-primary col-sm-3" href="?page={{ page_obj.next_page_number }}" style="float: right">next</a>
                {% endif %}
            </span>
        </div>
        </nav>
    {% endif %}

<!--end paginator-->


{#<div class="">#}
<div class="container profile-body new-decided">
  <div class="row">
    <div class="col-sm-11">

    {% for question in question_list %}

        <div class="jumbotron col-sm-12 container" style="border: 10px ridge;border-color: black;background-image: linear-gradient(black,white)">
{#Question #}

            <!-- Profile Image -->

   <div class="row" style="margin-left: -50px;">
      <div class="row2">
          <!-- Taking User To The profile page of the author of the post-->
       <div class="col-md-10">
        <a href="{% url "profiles:show" slug=question.author.profile.slug %}"><div class="col-md-2"> <img title="View Profile" class="img-circle img-responsive img-dim" src="{% thumbnail question.author.profile.picture|default:'default_profile.png' 60x60 crop %}">
               </div>
               </a>

                <p>
                <strong><a title="Author Name" style="color: green;" href="{% url "profiles:show" slug=question.author.profile.slug %}">{{ question.author.name.capitalize }}</a></strong><br>

                <a title="Author Email" style="color: black;font-size: medium" href="{% url "profiles:show" slug=question.author.profile.slug %}">{{ question.author.email.capitalize }}</a></p>
</div>
          <!-- Added Delete And Edit Functionality to the Questions-->
          {% if question.author.profile.user == user %}
          <a title="Edit Question ?" class="btn btn-success" href="{% url 'forumapp:question_edit' pk=question.pk %}">Edit?</a>
          <a title="Delete Question" class="btn btn-danger" href="{% url 'forumapp:question_remove' pk=question.pk %}">Delete?</a>
{% endif %}


      </div>
  </div>
{#            <a href="{% url 'forumapp:question_detail' pk=question.pk %}"><p><h2>{{ question.title }}</h2></a></p>#}

{# having the read more button#}
        <div class="container">
<p class="lead" style="color: black">{{ question.content }}</p>
</div>
  <p class="read-more" style="color: black"><a title="Answer Question" href="{% url "forumapp:question_detail" pk=question.pk %}" class="btn btn-block" style="border-bottom-left-radius: 20%;border-bottom-right-radius: 20%;border-bottom-color: red;color: black;background-color: grey;">Answer ?</a>
  </p>

    <hr class="jumbotron-fluid" style="border-color: black;border-width: 2px">
            <div class="date" style="text-align: end;">
                <strong style="color: red">Published on </strong> :  {{ question.timestamp|date }}  -
                {{ question.timestamp|timesince}} ago - {{ question.timestamp|time}}
                <!--Name--><br>
              <strong style="color: green">  By :  {{ question.author.name.capitalize }}</strong><br>
                <strong style="color: darkgreen">Topic : {{ question.title.capitalize }}</strong>
            </div>

{#            <a href="{% url 'question_detail' pk=post.pk %}">Comments: {{ post.approve_comments.count }}</a>#}
        </div>
    {% endfor %}
    </div>
{#  </div></div>#}
  </div>
</div>

</div>
{% endblock container %}