<h1>Hello Teacher</h1>
        <a href="{% url 'assignment:assignment_new' %}" ><button class="btn btn-warning col-md-12">Add Assignment <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button></a>

{% if user.is_authenticated %}

{% endif %}

    {% if assignment_list %}

        <table class="table">
            <thead>
                <tr class="bg-primary">
{#                    <th scope="col">#</th>#}
                    <th scope="col">Assignment</th>
                    <th scope="col">Course</th>
                    <th scope="col">Course Id</th>
                    <th scope="col">Deadline</th>
                    <th scope="col">Download</th>
                    <th scope="col">Share</th>
                    <th scope="col">Delete</th>

                </tr>

            </thead>
            <tbody>


        {% for assignment in assignment_list %}

                <tr class="table-danger">
{#                    <th scope="row">1</th>#}
{#                    {% for assign in assignment_list %}#}
{#<h1>{{ assignment.in_course.course_name }}</h1>#}
                    {% for a in courses %}
{#                    <h1>{{ a }}</h1>#}

            {% if assignment.in_course.course_id == a.course_id %}
                    <td>
                        {{ assignment.assignment_name }}
                    </td>
                    <td>
                        {{ assignment.in_course.course_name }}
                    </td>
                    <td>
                        {{ assignment.in_course.course_id }}
                    </td>
                    <td>
                        {{ assignment.deadline }}
                    </td>
                    <td>
                        <a href="{{ assignment.assignment_file.url }}"><span class="glyphicon glyphicon-save" style="text-align: center" aria-hidden="true"><br>Download</span></a>
                    </td>
                    <td>
                        <a href="{% url "assignment:assignment_update" pk=assignment.pk %}">
                            {% if assignment.share == True %}
                            <button class="btn btn-success">Shared? --- {{ assignment.share }}
                                <span class="glyphicon glyphicon-share" aria-hidden="true">
                                </span>
                            </button>
                                {% else %}
                             <button class="btn btn-default">Shared? --- {{ assignment.share }}
                                <span class="glyphicon glyphicon-share" aria-hidden="true">
                                </span>
                             </button>
                                {% endif %}
                        </a>
                    </td>
                    <td>
                        <a href="{% url "assignment:assignment_remove" pk=assignment.pk %}"><button class="btn btn-danger">Delete <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></a>
                    </td>

                </tr>

{#            <li>{{ course.assignment_name }}</li>#}
                        {% endif %}
{#{% endfor %}#}
                        {% endfor %}
         {% endfor %}


            </tbody>
        </table>


    {% else %}
        <h1>No Assignments</h1>
    {% endif %}
