{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Home{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="home" %}
{% endblock %}

{% block navbar-right %}

  {% if not user.is_authenticated %}
    <a href="{% url 'contactus:contactus_view' %}" class="btn btn-warning">Contact Us <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span></a>

<a class="btn btn-default" href="{% url 'accounts:login' %}" role="button">Log in</a>
<a class="btn btn-primary" href="{% url 'accounts:signup' %}" role="button">Sign up</a>
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock %}

{% block splash %}
  <div class="jumbotron jumbotron-carousel corporate-jumbo">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-8">
          <h1 style="color: black">{% include "_brandname.html" %}</h1>
{#          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>#}
	  <a class="btn btn-primary" href="{% url 'accounts:signup' %}" role="button">Sign up for Free!</a>
        </div>
        <div class="col-md-4 col-sm-4">

        </div>
      </div>
    </div>
  </div>
{% endblock splash %}

{% block container %}
<!-- Benefits of the Django application -->
{#    <div class="container">#}
    <div style="background: #abbaab;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ffffff, #abbaab);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ffffff, #abbaab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */">

<a name="about"></a>

<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <h2>News</h2>

{#        News             #}
      <div style="color: black;">
          <marquee direction="up" behavior="scroll" scrollamount="3" onmouseover="this.stop()" onmouseout="this.start()">
   <ul class="menu" type="box">

{#   This logic is from news app where this home page is rendered with the extra function of news   #}
       {% for news in news_list %}
       <li><i class="fa fa-caret-right"></i><a href="#" style="color: black;">&nbsp;&nbsp;{{ news.news_details }}</a></li>
       {% endfor %}
{#            end of the news               #}
{#   <button onclick="open('http://www.google.com','name','width=500,height=500');">Open</button>#}

{#       <li><i class="fa fa-caret-right"></i><a href="#" style="color: black;">&nbsp;&nbsp;IIITDM Kurnool is shifting to to its permanent campus. </a></li>#}
{#       <li><i class="fa fa-caret-right"></i><a href="#" style="color: black;">&nbsp;&nbsp;Advertisement for admission to  SC seats 2014</a></li>#}
{#       <li><i class="fa fa-caret-right"></i><a href="#" style="color: black;">&nbsp;&nbsp;Notification - SC/ST & Minority Cell</a></li>#}
{#       <li><i class="fa fa-caret-right"></i><a href="#" style="color: black;">&nbsp;&nbsp;Information About SC-ST Scholarship</a></li>#}
{#       <li><i class="fa fa-caret-right"></i><a href="#" style="color: black;">&nbsp;&nbsp;Project Vacancy: (JRF)</a></li>#}
{#       <li><i class="fa fa-caret-right"></i><a href="#" style="color: black;">&nbsp;&nbsp;PG Admission (January Session) 2015</a></li>#}
   </ul><!-- /.menu -->
</marquee>
      </div>


{#      <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>#}
    </div>
    <div class="col-lg-4">
      <h2>Something</h2>
      <p>{% lorem %}</p>
      <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <h2>Something</h2>
      <p>{% lorem %}</p>
      <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
    </div>
  </div>

{#    <p><a href="">hello</a></p>#}
</div>
</div>
{#    </div>#}
{% endblock container %}

{% block scripts %}
<script src="{% static 'site/js/site.js' %}"></script>

{% endblock scripts %}

