<h1 class="text-center">Slides</h1><hr style="border-color: black">
        <a href="{% url 'assignment:slide_new' %}" ><button style="font-size: medium" class="btn btn-warning col-md-12">Add Slide <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button></a>

{% if user.is_authenticated %}

{% endif %}

    {% if slide_list %}

        <table class="table" style="color: black">
            <thead style="font-size: 15px">
                <tr class="bg-primary">
{#                    <th scope="col">#</th>#}
                    <th scope="col">Slide</th>
                    <th scope="col">Course</th>
                    <th scope="col">Course Id</th>
{#                    <th scope="col">Deadline</th>#}
                    <th scope="col">Download</th>
                    <th scope="col">Share</th>
                    <th scope="col">Delete</th>

                </tr>

            </thead>
            <tbody>


        {% for slide in slide_list %}
                {% if slide.uploaded_by == user.profile.user %}

                <tr>
{#                    <th scope="row">1</th>#}
{#                    {% for assign in assignment_list %}#}
{#<h1>{{ assignment.in_course.course_name }}</h1>#}
                    {% for a in courses %}
{#                    <h1>{{ a }}</h1>#}

            {% if slide.in_course.course_id == a.course_id %}
                    <td style="font-size: 15px">
                        {{ slide.slide_name }}
                    </td>
                    <td style="font-size: 15px">
                        {{ slide.in_course.course_name }}
                    </td>
                    <td style="font-size: 15px">
                        {{ slide.in_course.course_id }}
                    </td>
{#                    <td>#}
{#                        {{ slide.deadline }}#}
{#                    </td>#}
                    <td style="font-size: 15px">
                        <a href="{{ slide.slide_file.url }}"><span class="glyphicon glyphicon-save" style="text-align: center" aria-hidden="true"><br>Download</span></a>
                    </td>
                    <td>
                        <a href="{% url "assignment:slide_update" pk=slide.pk %}">
                            {% if slide.share == True %}
                            <button class="btn btn-success" style="font-size: 15px">Shared? --- {{ slide.share }}
                                <span class="glyphicon glyphicon-share" aria-hidden="true">
                                </span>
                            </button>
                                {% else %}
                             <button class="btn btn-default" style="font-size: 15px">Shared? --- {{ slide.share }}
                                <span class="glyphicon glyphicon-share" aria-hidden="true">
                                </span>
                             </button>
                                {% endif %}
                        </a>
                    </td>
                    <td>
                        <a href="{% url "assignment:slide_remove" pk=slide.pk %}"><button style="font-size: 15px" class="btn btn-danger">Delete <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></a>
                    </td>

                </tr>

{#            <li>{{ course.assignment_name }}</li>#}
                        {% endif %}
{#{% endfor %}#}
                        {% endfor %}
            {% endif %}
         {% endfor %}


            </tbody>
        </table>


    {% else %}
        <h1>No Slide</h1>
    {% endif %}
